.logo-holder{
    top: 5px !important;
}
.main-header{
    height: 50px;
}

.nav-holder{
    float: right;
}

.show-reg-form:before{
    display: none;
}
.show-reg-form{
    line-height: 52px;
}

.header-search{
    top: 50px !important;
}


.header-list-search {
    background: #fff;
    text-align: left;
    padding: 5px 15px 15px;
    font-size: 12px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}


.wishlist-price{
    font-size: 12px;
    float: right;
    margin-top: 5px;
    color: #5ECFB1;
    font-weight: 600;
}

.wishlist-price strong{
    color: #3AACED;
    font-size: 9px;
}

.wishlist-close {
    position: absolute;
    top: 0;
    cursor: pointer;
    color: #18458b;
}

.wishlist-wrap .header-cart{
    font-size: 12px;
}

.wishlist-wrap .geodir-category-location a{
    font-weight: 400;
    font-size: 9px;
}

.header-list-search .option{
    cursor: pointer;
    padding: 1px;
    border-bottom: 1px solid #ddd;
}
.header-list-search .option:hover{
    background-color: #f2f2f2;
}

.null-wishlist-wrap{
    height: auto !important;
    width: auto;
    right: 7%;
    border-radius: 6px;
}
.null-wishlist-wrap div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d40b0b;
}


.logo-holder-text{
    margin: 10px 0px;
}
.logo-holder-text p{
    color: #fff !important;
    margin-left: 5px;
}
.mobile{
    display: none !important;
}
.desktop{
    display: block;
}
/* mobile view */
@media only screen and (max-width: 540px){
    /* .logo-holder-text{
        top: -46px !important;
        margin: 0px;
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis; 
    } */
    .show-reg-form {
        margin-right: 18px;
    }
    .header-user-menu{
        margin-right: 5px;
    }
    .mobile{
        display: block !important;
    }
    .desktop{
        display: none;
    }
}


.header-user-name:before{
    display: none;
}




.child_age_parent::before{
    display: none;
}
.child_age_div{
    width: 100%;
    float: right;
}
.child_age label{
    float: left;
    font-size: 12px;
    padding-top: 8px;
    width: 60%;
    text-align: left;
}
.child_age input{
    width: 53px;
    text-align: center;
    padding: 3px 0px;
    float: left;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 5px;
}
.child_age p {
    font-size: 10px;
    float: inline-end;
    color: red;
}