.content-pt-40{
    padding-top: 40px;
}

.filter-city-list-search{
    background: #fff;
    text-align: left;
    padding: 5px 15px 15px;
    font-size: 12px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: -26px;
}
.filter-city-list-search li{
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    padding: 3px;
}
.filter-city-list-search li:hover{
    background-color: #f5f5f5;
}
.listsearch-input-item .chosen-select{
    padding: 14px 20px 14px 5px;
}
.filter-city-list-search li{
    font-size: 12px;
}
.range-slider{
    width: 100%;
}

.priceClass{
    float: left;
    width: 100%;
    border: 1px solid #eee;
    padding: 12px 32px 12px 33px;
    border-radius: 6px;
    background: #F7F9FB;
    height: 42px;
    line-height: 42px;
}
.range-slider-wrap .col-md-6{
    padding-left: 0;
}

.hotel-not-found{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 6px;
    color: red;
}
.hotel-not-found div{
    position: absolute;
    top: 0;
    padding: 10px 0px;
    font-size: 40px;
}
.hotel-not-found p{
    margin-top: 20px;
    padding-top: 20px;
    font-weight: 600;
    font-size: 22px;
}



.discount-price {
    display: inline-block;
    font-size: 11px !important;
    color: red !important;
    text-align: right;
    padding-left: 0px;
    text-decoration: line-through;
}

.geodir-category-content h3 a, .geodir-category-location a, .geodir-category-price {
    cursor: pointer;
}


@media (max-width: 480px) {
    .listing-item.has_one_column .geodir-category-content, .listing-item.has_one_column .geodir-category-img{
        width: 100%;
    }
    .col-list-search-input-item .quantity-item{
        width: 28%;
    }
}



