<section class="small-padding scroll-nav-container privacy-policy">
                          
    <!--   container  -->
    <div class="container mt-20">
        <div class="c-privacy">
            
            <h1>Cancellation and Refund Policy</h1>

            <p>At RevTrip India Pvt. Ltd., we understand that plans can change, and we strive to provide a transparent and fair cancellation and refund policy for our customers. Please carefully review the following information regarding cancellations, changes, and refunds for bookings made through <a href="http://www.revtriphotels.com">www.revtriphotels.com</a>.</p>

            <h2>1. Cancellation Policy</h2>
            <ol>
                <li>
                    <p>Cancellation policies may vary depending on the specific hotel or accommodation you have booked. It's important to review the cancellation policy provided during the booking process, as well as on your booking confirmation.</p>
                </li>
                <li>
                    <p>If you wish to cancel your booking, log in to your account on our website and follow the cancellation instructions provided.</p>
                </li>
                <li>
                    <p>Some bookings may be non-refundable or have specific cancellation deadlines. These details will be clearly outlined during the booking process.</p>
                </li>
            </ol>

            <h2>2. Refund Policy</h2>
            <ol>
                <li>
                    <p>Refunds will be processed in accordance with the cancellation policy of the hotel or accommodation you've booked.</p>
                </li>
                <li>
                    <p>If you are eligible for a refund, it will be credited to the original payment method used for the booking.</p>
                </li>
                <li>
                    <p>Please allow a reasonable processing time for the refund to appear in your account, as processing times may vary depending on your payment provider.</p>
                </li>
            </ol>

            <h2>3. No-Show Policy</h2>
            <ol>
                <li>
                    <p>If you fail to check-in on the specified arrival date without prior communication to the hotel, it may result in a no-show charge, in accordance with the hotel's policies.</p>
                </li>
                
            </ol>

            <h2>4. Changes to Reservations</h2>
            <ol>
                <li>
                    <p>Changes to reservations, including modifications to dates, room types, or the number of guests, may be subject to availability and the policies of the hotel or accommodation.</p>
                </li>
                <li>
                    <p>Fees or additional charges may apply for making changes to your reservation.</p>
                </li>
            </ol>

            <h2>5. Contact Us</h2>
            <p>If you have any questions or need assistance regarding cancellations, changes, or refunds, please contact our customer support team at <a href="mailto:customer-support@revtriphotels.com">customer-support@revtriphotels.com</a>. Our team will be happy to assist you and provide guidance based on the specific details of your booking.</p>

            <p>Please note that the cancellation and refund policies outlined above are general guidelines. For accurate and specific information related to your booking, refer to the details provided during the booking process and on your booking confirmation.</p>


        </div>
    </div>
</section>