.content{
    padding-top: 50px;
}
.list-single-main-item-title{
    margin: 0 0 15px 0;
    padding-bottom: 0px
}

.map-view-wrap_item{
    padding: 10px 30px;
}

.middle-padding{
    padding: 0px !important;
}


.error-message{
    color: red;
    font-size: 11px;
    float: left;
    margin-top: -12px;
    padding-bottom: 12px;
}

.log-submit-btn:disabled{
    opacity: 0.8;
    cursor: default;
}

.captcha{
    margin-top: 20px;
}
.captcha p{
    padding-bottom: 10px;
    font-size: 14px;
}

.captcha p span{
    border: 1px solid #ddd;
    color: red;
    padding: 2px 10px;
    border-radius: 2px;
    margin-left: 20px;
    background: #f7f9fb;
}
.captcha p input[type="text"]{
    width: auto;
    position: absolute;
    margin-left: 20px;
    padding: 5px 10px;
    margin-top: -1px;
    border-radius: 2px;
}


@media only screen and (max-width: 600px) {
    .captcha p{
        font-size: 12px;
    }
    .captcha p input[type="text"]{
        width: 41%;
    }
    .captcha p input::placeholder{
        font-size: 9px;
    }
}


